<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" routerLink="/">Planning Poker</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
            </li>
            <ng-container *ngIf="(isAuthenticated | async)">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" routerLink="/games" routerLinkActive="active" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Games
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" routerLink="/games/new" routerLinkActive="active">New Game</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/signout" routerLinkActive="active">Sign Out</a>
                </li>
            </ng-container>
        </ul>
        <div class="d-flex" *ngIf="!(isAuthenticated | async)">
            <div>
                <button type="button" class="btn btn-outline-secondary" routerLink="/signin" routerLinkActive="active">Sign In</button>
             </div>
             <div style="margin-left:10px">
                <button type="button" class="btn btn-outline-primary" routerLink="/signup" routerLinkActive="active">Sign Up</button>
             </div>
        </div>
      </div>
    </div>
  </nav>