<header>
    <div class="container">
        <div class="content pt-5 pb-5">
                <h2 class="mt-5">GET YOUR SCRUM TEAM ALIGNED WITH PLANNING POKER</h2>
                <p>Planning poker can help your scrum teams get aligned on size of tasks coming up in the next sprint. Allowing for your team to be more predictible and remain on schedule.</p>
                <p style="font-size:18px">Ready to get started?</p>
                <button class="btn btn-secondary btn-lg">Sign Up Today!</button>
        </div>  
    </div>            
</header>
