<header>
    <div class="container">
        <div class="row pb-5">
            <div class="col pt-5">
                <h2 class="mt-5">GET YOUR SCRUM TEAM ALIGNED WITH PLANNING POKER</h2>
                <p>Planning poker can help your scrum teams get aligned on size of tasks coming up in the next sprint. Allowing for your team to be more predictible and remain on schedule.</p>
                <p style="font-size:18px">Ready to get started?</p>
                <button class="btn btn-secondary btn-lg">Sign Up Today!</button>
            </div>
            <div class="col pt-5">
                <img src="../../../assets/images/hero-img.png" width="500"/>
            </div>
        </div>  
    </div>            
</header>
<section class="container">
    <div class="row pb-5">
        <div class="col pt-5">
            <div class="card" style="width: 18rem;">
                <i class="bi bi-clock"></i>
                <div class="crd-body">
                  <h5 class="card-title">Save Time</h5>
                  <p class="card-text">Your engineers are a valuable asset to your organization. Get them aligned quickly with planning poker.</p>
                </div>
              </div>
        </div>

        <div class="col pt-5">
            <div class="card" style="width: 18rem;">
                <i class="bi bi-emoji-laughing"></i>
                <div class="card-body">
                  <h5 class="card-title">Make Planning Fun</h5>
                  <p class="card-text">Let's face it, no one like planning. Keep your team engaged and happy during planning!</p>
                </div>
              </div>
        </div>

        <div class="col pt-5">
            <div class="card" style="width: 18rem;">
            <i class="bi bi-bookmark-check"></i>
                <div class="card-body">
                  <h5 class="card-title">Get Results</h5>
                  <p class="card-text">An aligned scrum team will be more predictable, leading to more efficent sprint cycles.</p>

                </div>
              </div>
        </div>
    </div>
</section>