header{
    background-image: url("../../../assets/images/bg-gradient.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color:white;
}


