header{
    background-image: url("../../../assets/images/bg-gradient.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color:white;
    min-height: 500px;
}

.card{
    border:none;
    text-align: center;
}

.card .bi{
    font-size: 5em;
    color: #9567E0;
}


